/* this is thin font*/
@font-face {
    font-family: 'Inter Regular';
    src: url('Inter-Regular.ttf');
}


/* this is regular font*/
@font-face {
    font-family: 'Inter Medium';
    src: url('Inter-Medium.ttf');
}

/* this is bold font*/
@font-face {
    font-family: 'Inter SemiBold';
    src: url('Inter-SemiBold.ttf');
}

.root {
    /*TODO Adjust font per OS  */
    -fx-font-family: 'Inter Regular';
    /*-fx-font-size: 0.15in; !* default font size*!*/
    -fx-font-size: 14;
    -fx-accent: #0D99FF;
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.canvas-view {
    -fx-background-color: white;
    /*-fx-border-insets: 3px;*/
    /*-fx-background-insets: 3px;*/
}

.status-bar {
    -fx-text-alignment: right;
    -fx-padding: 3 5 3 5;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: darkgrey
}

.split-pane-divider {
    -fx-padding: 0 1 0 0;
}

.list-view {
    -fx-padding: 7 7 7 7;
    -fx-border-insets: 0 0 0 0;
    /*-fx-background-color: grey;*/
    -fx-border-width: 0 0 0 0;
    /*-fx-border-color: darkgrey;*/
    -fx-background-insets: 0 0 0 0;
    /*-fx-border-insets: 0 0 0 0;*/
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.shape-list-cell {
    -fx-padding: 7 15 7 15;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: darkgrey;
    -fx-background-insets: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
    /*-fx-background-radius: 5;*/
    -fx-font-size: 13;
    -fx-background-color: transparent;
}

.shape-list-cell:selected {
    -fx-text-fill:white;
    -fx-background-color: -fx-accent;
}

